/* GENERAL */

*
{
    margin: 0;
    padding: 0;
}
body 
{
    font-family: 'Lato';
    font-size: 15px;
}
nav {
    text-align: left;
    text-transform: uppercase;
    font-size: 35px;
    padding: 20px;
    font-family: 'Oswald';
}

nav a {
    text-decoration: none;
    color:#777;
    transition-duration: .2s;
}

nav a:hover {
    color: orange;
}
h1,h2,h3,h4
{
  color: #444;  
}
h1
{
    font-family: 'Oswald', serif;
    font-size: 45px;
    text-transform: uppercase;
}
h2
{
    font-size: 20px;
}
h3
{
    font-size: 30px;
}
h4
{
    font-size: 24px;
}
p
{
    line-height: 20px;
    color: #777;
}
ul
{
    list-style: none;
}
.wrapper
{
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}
.orange
{
    color:#FF5B2B;
}
.clear
{
    clear: both;   
}
small
{
    font-size: 13px;
    font-style:italic;
}

/* HEADER */

header 
{
    height: 500px;   
}
header h1
{
    float: left;
    padding:20px;
}

/* MAIN IMAGE */
#main-image

/*A tester avec JS*/
{
    height: 80px;
    background: url('images/nuages2.jpg') center;
/*A tester avec JS*/


}
#main-image h2
{
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0 40px 0;
    margin-bottom: 20px;
}
p{
    font-weight: bold;
}
section {
    padding: 8.5px 0;
}
button
{
    display: block;
    width: 120px;
    height: 50px;
    color: #fff;
    font-size: 20px;

    line-height: 50px;
    border-radius:  3px;
}
button:hover
{
    background:orange;
}
.button-1
{
    color: #fff;
    font-weight: bold;
    margin:10px;
    padding: 11px;
    background-color: #02b8dd;
    border-style: none;
}
/* TEMPÉRATURE */


#temp p
{
    margin-bottom: 20px;
}
/* POSSIBILITIES */

form
{
    padding:30px;
}
label
{
    padding:5px 100px;;
    font-weight: bold;
    font-size: 20px;   
}
input[type="text"]
{
    padding:10px 0px 0px 15px;;
    font-size: 20px;
    margin-right: 20px;
    border: 2px solid #ddd;
    border-radius: 3px;
}
#url {
    color: red;
    display: none;
}
#meteo {
    font-size:35px;
    text-align: center;
}
img{
    padding: 10px 445px;
    
}

/* FOOTER */

footer
{
    height: 80px;
    background-color: #444;
}
footer h2
{
    color:#fff;
    text-align: center;
    padding:10px;
}
footer p
{
    text-align:center;
}
