html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-weight:inherit;
  font-style:inherit;
  font-size:100%;
  font-family:inherit;
  vertical-align:baseline;
  }

:focus{
  outline:0;
  }

body{
  line-height:1;
  color:black;
  background:white;
  }

ol, ul{
  list-style:none;
  }

table{
  border-collapse:separate;
  border-spacing:0;
  }

caption, th, td{
  text-align:left;
  font-weight:normal;
  }

blockquote:before, blockquote:after, q:before, q:after{
  content:"";
  }

blockquote, q{
  quotes:"" "";
  }

body{
  margin:0px;
  padding:11px;
  }

form{
  margin:0px;
  padding:0px;
  }

body, td, input, textarea, select{
  font-family:arial, helvetica, sans-serif;
  font-size:11px;
  }

#page{
  margin-top:3px;
  width:1014px;
  background-color:#FFFFFF;
  overflow:hidden;
  }

#header{
  background-color:#ffb400;
  height:85px;
  }

#logo{
  float:left;
  height:85px;
  }

#sponsor-info{
  float:left;
  height:85px;
  }

#logo-sponsor{
  float:right;
  height:85px;
  }

#top{
  clear:both;
  background-repeat:no-repeat;
  background-color:#ffb300;
  padding-left:7px;
  }

#breadcrumb{
  /*float:left;*/
  position:absolute;
  padding:7px;
  }

#breadcrumb ul{
  list-style:none;
  margin:0px;
  padding:0px;
  }
  
  #uwz{
  height:182px;
  }

li.breadcrumb-entry, li.breadcrumb-entry-active{
  background-image:url(fileadmin/template/pics/breadcrumb-dot.png);
  background-repeat:no-repeat;
  background-position:2px 3px;
  padding-left:15px;
  padding-right:5px;
  display:inline;
  }

li.breadcrumb-entry-active{
  
}

a.breadcrumb-link{
  text-decoration:none;
  color:#fff;
  font-size:12px;
  }

a.breadcrumb-link-active{
  text-decoration:none;
  color:white;
  font-weight:bold;
  font-size:12px;
  }

a.breadcrumb-link:hover{
  color:white;
  text-decoration:underline;
  }

#info{
  float:right;
  }

#info ul{
  list-style:none;
  margin:0px;
  padding:0px;
  }

#info ul li{
  background-image:url(fileadmin/template/pics/info-bg.png);
  background-repeat:repeat-x;
  float:left;
  padding:7px;
  margin-left:1px;
  }

#info ul li a{
  text-decoration:none;
  color:#fff;
  font-size:12px;
  }

#info ul li a:hover{
  color:white;
  text-decoration:underline;
  }

#language-selector{
    background-color: #FECA4D;
    float: right;
    left: -147px;
    position: relative;
    top: -85px;
}

#language-selector{
  padding:5px 0px;
  }

#language-selector ul{
  list-style:none;
  margin:0px;
  padding:0px;
  }

#language-selector ul li{
  float:left;
  color:#e4ad28;
  }

#language-selector ul li a{
  text-decoration:none;
  color:#af8622;
  padding-left:8px;
  padding-right:8px;
  }

#language-selector ul li a:hover{
  text-decoration:underline;
  }

#language-selector ul li a.active{
  color:#5b491e;
  }

#left{
  float:left;
  width:180px;
  padding-left:5px;
  }

#content{
  float:left;
  padding-left:30px;
  width:556px;
  }

#right{
  float:left;
  padding-left:30px;
  width:213px;
  }

#navigation{
  margin-top:20px;
  margin-bottom:20px;
  }

#navigation ul{
  margin:0px;
  padding:0px;
  list-style:none;
  }

a.section-link, a.section-link-active{
  display:block;
  text-decoration:none;
  color:#666;
  padding:5px 6px;
  border-bottom:1px solid #FFF;
  background-color:#f8eed6;
  color:#6f4e00;
  }

a.section-link:hover{
  background-color:#e7d8b3;
  }

a.section-link-active{
  background-color:#e5a200;
  background-image:url(fileadmin/template/pics/nav-section-active-bg.png);
  background-repeat:repeat-x;
  color:white;
  font-weight:bold;
  }

a.subnav-link, a.subnav-link-active{
  padding:5px 6px;
  display:block;
  text-decoration:none;
  background-color:#FFF;
  border-bottom:1px solid #EEE;
  color:#666;
  font-weight:normal;
  border-left:8px solid #fbf5e6;
  }

a.subnav-link-active{
  font-weight:bold;
  }

a.subnav-link:hover{
  color:black;
  }

.weather-app-title{
  margin:0px;
  padding:5px 6px;
  background-color:#99bcdd;
  color:#214f83;
  font-size:12px;
  text-shadow:1px 1px 1px #abc8e3;
  }

#search{
  background-image:url(fileadmin/template/pics/search-bg-full.png);
  background-repeat:no-repeat;
  height:30px;
  margin-bottom:10px;
  }

.search-info{
  color:#999;
  }

#query{
  margin:0px;
  border:none;
  width:130px;
  font-size:14px;
  color:#000;
  font-weight:bold;
  background:none;
  border:none;
  }

#search-button{
  margin:0px;
  padding:0px;
  border:none;
  background:none;
  width:34px;
  height:30px;
  }

#search-button:hover{
  cursor:pointer;
  }

#search .query-submit{
  float:left;
  height:30px;
  }

#search .query-field{
  float:left;
  width:138px;
  margin-left:5px;
  height:30px;
  padding-top:6px;
  padding-left:2px;
  }

#query:focus{
  outline:none;
  }

#search-red{
  background-image:url(fileadmin/template/pics/search-bg-full-red.png);
  background-repeat:no-repeat;
  height:30px;
  margin-bottom:10px;
  }

#search-red .query-submit{
  float:left;
  height:30px;
  }

#search-red .query-field{
  float:left;
  width:138px;
  margin-left:5px;
  height:30px;
  padding-top:6px;
  padding-left:2px;
  }

#content div.split-left{
  float:left;
  width:410px;
  }

#content div.split-right{
  float:left;
  width:146px;
  }

#content div.boxes{
  padding-top:0px;
  line-height:0;
  }

.box-img{
  border:1px solid #dcbd71;
  line-height:100%;
  width:128px;
  margin-left:8px;
  }

.box-img-last{
  margin-bottom:11px;
  }

.boxes h3{
  margin:0px;
  padding:0px;
  font-weight:normal;
  color:#684d0e;
  text-align:right;
  padding:5px 6px;
  padding-right:13px;
  font-size:11px;
  line-height:100%;
  background:none;
  }

#subheader{
  height:21px;
  }

#subheader h3{
  margin:0px;
  padding:0px;
  font-weight:bold;
  font-size:12px;
  font-family:arial,helvetica,sans-serif;
  color:#684d0e;
  text-align:left;
  padding:5px 6px;
  padding-right:13px;
  line-height:100%;
  background:none;
  }

#weather_shorttext_box{
  position:relative;
  height:55px;
  top:0px;
  filter:alpha(opacity=60);
  opacity:0.6;
  background-color:#000000;
  text-decoration:none;
  cursor:pointer;
  }

#weather_shorttext{
  font-family:arial,helvetica,sans-serif;
  font-size:14px;
  font-weight:bold;
  color:#FFFFFF;
  text-decoration:none;
  text-align:center;
  display:table-cell;
  vertical-align:middle;
  height:55px;
  width:400px;
  padding-left:5px;
  padding-right:5px;
  }

img.map_start{
  position:absolute;
  cursor:pointer;
  }

h1{
  font-size:14px;
  font-weight:normal;
  color:#222;
  margin:18px 0px;
  }

h2{
  font-size:14px;
  font-weight:normal;
  color:#222;
  margin:18px 0px;
  }

h3{
  font-size:14px;
  font-weight:normal;
  color:#222;
  margin:18px 0px;
  }

h4{
  background-color:#DDDDDD;
  background-image:url("fileadmin/template/pics/heading-gray-bg.png");
  background-repeat:repeat-x;
  color:#444444;
  font-size:12px;
  font-weight:normal;
  margin-bottom:10px;
  margin-top:0;
  padding:5px 6px;
  }

h4.gray{
  padding:5px 6px;
  background-color:#99bcdd;
  background-image:url(fileadmin/template/pics/heading-gray-bg.png);
  background-repeat:repeat-x;
  color:#444;
  font-size:12px;
  margin-bottom:3px;
  font-weight:normal;
  }

div.status-red{
  background-color:#c40000;
  background-image:url(fileadmin/template/pics/warn-red-bg.png);
  background-repeat:repeat-x;
  height:93px;
  }

.news-entry{
  padding-bottom:3px;
  margin-bottom:5px;
  border-bottom:1px solid #EEE;
  }

.news img{
  float:left;
  margin-right:10px;
  margin-bottom:5px;
  margin-top:2px;
  }

.news p{
  color:#888;
  line-height:130%;
  font-size:11px;
  padding-left:78px;
  }

.news-entry-title{
  color:#555;
  line-height:130%;
  }

#content .imageCaption p{
  font-size:9px;
  text-align:center;
  line-height:100%;
  margin-bottom:0px;
  }

.imageCaption{
  padding-bottom:23px;
  }

#content p{
  line-height:150%;
  color:#555;
  font-size:13px;
  margin-bottom:15px;
  }

#content .p{
  width:471px;
  }

div.clear{
  clear:both;
  }

#weather-detail-summary{
  background-color:#99bcdd;
  background-image:url(fileadmin/template/pics/heading-blue-bg.png);
  background-repeat:repeat-x;
  padding:20px;
  }

div.weather-detail-location{
  font-size:24px;
  font-weight:bold;
  color:#22417c;
  margin-bottom:5px;
  letter-spacing:-1px;
  }

div.weather-detail-location-info{
  color:#41629c;
  }

div.search-heading-arrow{
  background-color:#99bcdd;
  background-image:url(fileadmin/template/pics/heading-blue-bg.png);
  background-repeat:repeat-x;
  float:left;
  text-align:center;
  width:20px;
  height:22px;
  }

h3.search-heading{
  margin:0px;
  padding:5px 6px;
  background-color:#99bcdd;
  background-image:url(fileadmin/template/pics/heading-blue-bg.png);
  background-repeat:repeat-x;
  color:#385a79;
  font-size:12px;
  font-weight:normal;
  margin-bottom:1px;
  }

a.search-entry{
  display:block;
  border-bottom:1px solid #EEE;
  font-size:12px;
  padding:5px 6px 5px 0px;
  text-decoration:none;
  color:#333;
  padding-left:20px;
  }

a.search-entry:hover{
  color:black;
  text-decoration:underline;
  }

div.search-more{
  display:block;
  margin-top:10px;
  color:#666;
  text-decoration:none;
  }

div.search-more:hover{
  color:black;
  }

a.uwz-image-be{
  display:block;
  float:left;
  background-image:url(http://alarm.meteo-info.be/images/map/belgique_preview.png);
  background-repeat:no-repeat;
  background-position:-1px -1px;
  width:178px;
  height:180px;
  margin-right:5px;
  margin-bottom:4px;
  border:1px solid #DDD;
  }
  
a.uwz-image-pt{
  display:block;
  float:left;
  background-image:url(http://avisos.centrometeo.pt/images/map/pt_preview.png);
  background-repeat:no-repeat;
  background-position:-1px -1px;
  width:178px;
  height:180px;
  margin-right:5px;
  margin-bottom:4px;
  border:1px solid #DDD;
  }

a.uwz-image-lu{
  display:block;
  float:left;
  background-image:url(http://alarm.meteozentral.lu/images/map/letzebuerg_preview.png);
  background-repeat:no-repeat;
  background-position:-1px -1px;
  width:178px;
  height:180px;
  margin-right:5px;
  margin-bottom:4px;
  border:1px solid #DDD;
  }
  
a.uwz-image-dk{
  display:block;
  float:left;
  background-image:url(http://alarm.vejrcentral.dk/images/map/denmark_preview.png);
  background-repeat:no-repeat;
  background-position:-1px -1px;
  width:178px;
  height:180px;
  margin-right:5px;
  margin-bottom:4px;
  border:1px solid #DDD;
}

a.uwz-image-it{
  display:block;
  float:left;
  background-image:url(http://allarmi.meteo-allerta.it/images/map/italia_preview.png);
  background-repeat:no-repeat;
  background-position:-1px -1px;
  width:178px;
  height:180px;
  margin-right:5px;
  margin-bottom:4px;
  border:1px solid #DDD;
}

a.uwz-image-es{
  display:block;
  float:left;
  background-image:url(http://avisos.alertas-tiempo.es/images/map/espana_preview.png);
  background-repeat:no-repeat;
  background-position:-1px -1px;
  width:178px;
  height:180px;
  margin-right:5px;
  margin-bottom:4px;
  border:1px solid #DDD;
}

div.uwz-region-image-1{
  float:left;
  background-image:url(http://alerte.vigilance-meteo.fr/images/map/france_preview.png);
  background-repeat:no-repeat;
  background-position:-1px -184px;
  width:30px;
  height:30px;
  margin-right:5px;
  margin-top:4px;
  margin-bottom:4px;
  }

div.uwz-region-image-2{
  float:left;
  background-image:url(http://alerte.vigilance-meteo.fr/images/map/france_preview.png);
  background-repeat:no-repeat;
  background-position:-37px -184px;
  width:30px;
  height:30px;
  margin-right:5px;
  margin-top:4px;
  margin-bottom:4px;
  }

div.uwz-region-image-3{
  float:left;
  background-image:url(http://alerte.vigilance-meteo.fr/images/map/france_preview.png);
  background-repeat:no-repeat;
  background-position:-74px -184px;
  width:30px;
  height:30px;
  margin-right:5px;
  margin-top:4px;
  margin-bottom:4px;
  }

div.uwz-region-image-4{
  float:left;
  background-image:url(http://alerte.vigilance-meteo.fr/images/map/france_preview.png);
  background-repeat:no-repeat;
  background-position:-110px -184px;
  width:30px;
  height:30px;
  margin-right:5px;
  margin-top:4px;
  margin-bottom:4px;
  }

div.uwz-region-image-5{
  float:left;
  background-image:url(http://alerte.vigilance-meteo.fr/images/map/france_preview.png);
  background-repeat:no-repeat;
  background-position:-147px -184px;
  width:30px;
  height:30px;
  margin-right:5px;
  margin-top:4px;
  margin-bottom:4px;
  }

div.uwz-region-image-6{
  float:left;
  background-image:url(http://alerte.vigilance-meteo.fr/images/map/france_preview.png);
  background-repeat:no-repeat;
  background-position:-1px -219px;
  width:30px;
  height:30px;
  margin-right:5px;
  margin-top:4px;
  margin-bottom:4px;
  }

div.uwz-region-image-7{
  float:left;
  background-image:url(http://alerte.vigilance-meteo.fr/images/map/france_preview.png);
  background-repeat:no-repeat;
  background-position:-36px -219px;
  width:30px;
  height:30px;
  margin-right:5px;
  margin-top:4px;
  margin-bottom:4px;
  }

div.uwz-region-image-8{
  float:left;
  background-image:url(http://alerte.vigilance-meteo.fr/images/map/france_preview.png);
  background-repeat:no-repeat;
  background-position:-74px -219px;
  width:30px;
  height:30px;
  margin-right:5px;
  margin-top:4px;
  margin-bottom:4px;
  }

div.uwz-region-image-9{
  float:left;
  background-image:url(http://alerte.vigilance-meteo.fr/images/map/france_preview.png);
  background-repeat:no-repeat;
  background-position:-110px -219px;
  width:30px;
  height:30px;
  margin-right:5px;
  margin-top:4px;
  margin-bottom:4px;
  }

div.uwz-region-image-10{
  float:left;
  background-image:url(http://alerte.vigilance-meteo.fr/images/map/france_preview.png);
  background-repeat:no-repeat;
  background-position:-147px -219px;
  width:30px;
  height:30px;
  margin-right:5px;
  margin-top:4px;
  margin-bottom:4px;
  }
div.uwz-es-region-image-1{
  float:left;
  background-image:url(http://avisos.alertas-tiempo.es/images/map/espana_preview.png);
  background-repeat:no-repeat;
  background-position:-1px -184px;
  width:57px;
  height:57px;
  margin-right:5px;
  margin-top:4px;
  margin-bottom:4px;
  }

div.uwz-region-info{
  padding:5px;
  line-height:120%;
  color:#666;
  }

div.uwz-region-info a{
  text-decoration:none;
  color:#ae882d;
  }

h4.detail, h3.detail, h4.detail a{
  background:none;
  font-size:14px;
  color:#666;
  padding:0px;
  margin-bottom:10px;
  text-decoration:none;
  }

table.hitlist-short{
  width:100%;
  }

table.hitlist-short tr td{
  padding:5px 6px;
  background-color:#DDD;
  border-bottom:1px solid #EEE;
  font-size:12px;
  }

table.hitlist-short tr td a{
  text-decoration:none;
  color:black;
  }

table.hitlist-short tr td a:hover{
  text-decoration:underline;
  }

td.hitlist-short-rank{
  width:10px;
  color:#666;
  }

td.hitlist-short-value{
  width:60px;
  text-align:right;
  }

#footer{
  margin-top:0px;
  border-top:1px solid #DDD;
  background-image:url(fileadmin/template/pics/footer-bg.png);
  background-repeat:repeat-x;
  font-size:11px;
  padding:10px;
  color:#999;
  clear:both;
  width:994px;
  }

h4.mistral{
  margin-bottom:0px;
  }

div.mistral-image{
  text-align:center;
  border:1px solid #99bcdd;
  border-top:none;
  }

p a{
  text-decoration:none;
  color:#1e588f;
  padding:0px 2px;
  }

div#lower-content div.news-single-backlink a{
  text-decoration:none;
  background-color:#e1ebf4;
  color:#1e588f;
  padding:0px 2px;
  }
  
  ul.animation{
  list-style: none outside none;
}

ul.animation li{
  float:left;
  font-size:11px;
  font-height:normal;
  }

ul.animation li a{
  display:block;
  padding:4px;
  }

ul.animation li a:hover{
  background-color:#c5d9ec;
  color:#1e588f;
  }

ul.animation li a img{
  width:70px;
  height:70px;
  margin-bottom:0px;
  margin-right:0px;
  }
  
div#lower-content ul{
  list-style: disc outside none;
  margin-left:10px;

  }
  
div#lower-content li{
color: #555555;
    font-size: 13px;
    line-height: 150%;
    }

a.all{
  text-decoration:none;
  background-color:#e1ebf4;
  color:#1e588f;
  padding:0px 2px;
  }

p a:hover{
  text-decoration:none;
  background-color:#c5d9ec;
  color:#1e588f;
  padding:0px 2px;
  }

table.hitlist tr td{
  padding:5px 6px;
  font-size:12px;
  }

table.hitlist tr td a{
  text-decoration:none;
  color:#3570a7;
  }

table.hitlist tr td.rank{
  color:#666;
  text-align:right;
  width:15px;
  }

table.hitlist tr td.value{
  text-align:right;
  width:60px;
  }

table.hitlist tr td a:hover{
  color:black;
  text-decoration:underline;
  }

table.hitlist tr.odd td{
  background-image:url(fileadmin/template/pics/td-gray-bg.png);
  }

p.hitlist-info{
  color:#666;
  margin-top:10px;
  margin-bottom:10px;
  text-align:right;
  }

div.infobox-home{
  background-image:url(fileadmin/template/pics/heading-gray-bg.png);
  background-repeat:repeat-x;
  background-color:#EEE;
  padding:10px;
  margin-top:20px;
  }

div.infobox-home h4{
  background:none;
  font-size:14px;
  color:#666;
  padding:0px;
  margin-bottom:10px;
  }

div.infobox-home-left{
  float:left;
  width:255px;
  border-right:1px solid #DDD;
  padding-right:10px;
  }

div.infobox-home-right{
  float:left;
  width:255px;
  border-left:1px solid #FFF;
  padding-left:10px;
  }

#content div.infobox-home p{
  float:left;
  width:120px;
  font-size:11px;
  }

#content div.infobox-home img{
  width:125px;
  border:1px solid #DDD;
  margin-left:5px;
  }

.csc-textpic-imagewrap{
  margin:0px;
  }

.csc-textpic-center{
  margin:0px;
  }

div.profi{
  margin-bottom:15px;
  }

div.profi h3{
  padding:5px 6px;
  background-color:#DDD;
  background-image:url(fileadmin/template/pics/heading-gray-bg.png);
  background-repeat:repeat-x;
  color:#444;
  font-size:12px;
  font-weight:normal;
  margin-bottom:10px;
  margin-top:10px;
  }

div.profi a.thumbs-link, div.profi a.thumbs-link-active{
  color:#666;
  text-decoration:none;
  overflow:hidden;
  display:block;
  width:64px;
  line-height:130%;
  margin-bottom:15px;
  font-size:11px;
  }

div.profi a.thumbs-image-link:hover img{
  opacity:1.0;
  }

div.profi a.thumbs-link-active{
  color:black;
  }

div.profi img.thumb-overview{
  float:left;
  margin-right:15px;
  width:96px;
  height:96px;
  margin-bottom:15px;
  }

div.profi img.thumbs, div.profi img.thumbs-active{
  width:64px;
  height:64px;
  margin-bottom:5px;
  opacity:0.5;
  }

div.profi img.thumbs-active{
  opacity:1.0;
  }

.outer-box{
  background-color:#f8eed6;
  background-image:url(fileadmin/template/pics/boxes-bg.png);
  background-repeat:repeat-y;
  margin-bottom:11px;
  }

ul.profi-navigation li{
  float:left;
  margin-right:15px;
  }



table.situation{
  background-color:#fffff;
  width:100%;
  }

table.situation tr td{
  border-bottom:1px solid #DDDDDD;
  padding:5px 6px;
  }

.news-single-timedata{
  color:#555555;
  font-size:13px;
  line-height:150%;
  margin-bottom:15px;
  }

img.profi-image{
  height:60px;
  width:60px;
  }

div.profi-main h3{
  background-color:#dddddd;
  background-image:url("fileadmin/template/pics/heading-gray-bg.png");
  background-repeat:repeat-x;
  color:#444444;
  font-size:12px;
  font-weight:normal;
  margin-bottom:10px;
  margin-top:0;
  padding:5px 6px;
  }

div.profi-main img{
  float:left;
  margin-bottom:10px;
  margin-right:15px;
  width:80px;
  height:80px;
  }

div.profi-main ul.animation li{
  float:left;
  }

div.profi-main ul.animation li a{
  background-color:#E1EBF4;
  color:#1E588F;
  display:block;
  margin-right:3px;
  margin-top:5px;
  padding:4px;
  text-decoration:none;
  }

div.profi-main{
  margin-bottom:10px;
  }

.form_label{
  width:150px;
  position:absolute;
  color:#666666;
  font-size:13px;
  }

.form_input{
  width:406px;
  margin-left:150px;
  }

.form_area{
  width:406px;
  margin-left:150px;
  }

.gray{
  color:#666666;
  }

div.mm-share-button{
  margin-top:13px;
  }

.faq{
  color:#555555;
  font-size:12px;
  line-height:150%;
  padding-bottom:5px;
  x font-weight:normal;
  }

.faq-title{
  cursor:pointer;
  background-color:#DDDDDD;
  background-image:url("fileadmin/template/pics/heading-gray-bg.png");
  background-repeat:repeat-x;
  color:#444444;
  padding:3px 6px;
  }

.faq-content{
  margin-bottom:10px;
  padding:3px 6px;
  font-size:13px;
  }

.csc-textpic{
  padding-top:10px;
  }
.boxes .csc-textpic{
  padding-top:0px;
}

#radarBox{
  height:133px;
  margin-left:8px;
  position:relative;
  width:128px;
  }

#radarBox img{
  left:0;
  position:absolute;
  top:0;
  }

.ts0 a img{
  border:0 none;
  }

.p{
  height:auto;
  padding-left:77px;
  width:128px;
  }

div#left-box{
  float:left;
  width:255px;
  padding-right:10px;
  }

div#right-box{
  float:left;
  width:255px;
  padding-right:10px;
  }

.mini-app{
  background-color:#F8EED6;
  color:#6F4E00;
  padding-left:3px;
  }

ul li.travel a{
  display:block;
  padding:4px;
  text-decoration:none;
  color:#1e588f;
  margin-right:3px;
  }

div#left-travel{
  width:230px;
  }

div.news-single-item h2{
  font-weight:bold;
  }

li.travel{
  float:left;
  width:153px;
  }

.boxes .csc-default{
  height:155px;
  }

#content .boxes .csc-default p{
  color:white;
  background-color:#FFB300;
  border:1px solid #DCBD71;
  width:118px;
  padding:5px;
  margin-left:8px;
  height:123px;
  font-size:12px;
  }

#content .boxes .csc-default a.internal-link{
  background-color:#FF9600;
  color:white;
  padding:0 2px;
  font-weight:bold;
  text-decoration:none;
  white-space:nowrap;
  }

h6{
  font-weight:bold;
  }

span.detail{
  font-weight:bold;
  margin-bottom:10px;
  }

.csc-textpic-intext-left .csc-textpic-single-image{
  float:left;
  }

div.myContact{
  display:none;
  }

div#tooltip{
  float:right;
  background-color:#EEEEEE;
  border:1px solid darkgray;
  color:black;
  padding:2px;
  margin-right:2px;
  }

div.tx-contagged-index span{
  margin:0px 2px;
  }


div.tx-contagged-imagecaption {
  margin-bottom:10px
}

div.uwz-region{
  border-bottom:1px solid #EEE;
  }

a.uwz-image-fr{
  display:block;
  float:left;
  background-image:url(http://alerte.vigilance-meteo.fr/images/map/france_preview.png);
  background-repeat:no-repeat;
  background-position:-1px -1px;
  width:178px;
  height:180px;
  margin-right:5px;
  margin-bottom:4px;
  border:1px solid #DDD;
  }

a.uwz-image-ch{
  display:block;
  float:left;
  background-image:url(http://alarm.meteocentrale.ch/images/map/schweiz_preview.png);
  background-repeat:no-repeat;
  background-position:-1px -1px;
  width:178px;
  height:180px;
  margin-right:5px;
  margin-bottom:4px;
  border:1px solid #DDD;
}

a.uwz-image-gb{
  display:block;
  float:left;
  background-image:url(http://warnings.severe-weather-centre.co.uk/images/map/unitedkingdom_preview.png);
  background-repeat:no-repeat;
  background-position:-1px -1px;
  width:178px;
  height:180px;
  margin-right:5px;
  margin-bottom:4px;
  border:1px solid #DDD;
}

a.uwz-image-gb2{
  display:block;
  float:left;
  background-image:url(http://warnings.weather.info/images/map/unitedkingdom_preview.png);
  background-repeat:no-repeat;
  background-position:-1px -1px;
  width:178px;
  height:180px;
  margin-right:5px;
  margin-bottom:4px;
  border:1px solid #DDD;
}

a.uwz-image-ie{
  display:block;
  float:left;
  background-image:url(http://warnings.severe-weather-ireland.com/images/map/ireland_preview.png);
  background-repeat:no-repeat;
  background-position:-1px -1px;
  width:178px;
  height:180px;
  margin-right:5px;
  margin-bottom:4px;
  border:1px solid #DDD;
}

a.uwz-image-no{
  display:block;
  float:left;
  background-image:url(http://advarsler.vaer-sentral.no/images/map/norwegen_preview.png);
  background-repeat:no-repeat;
  background-position:-1px -1px;
  width:178px;
  height:180px;
  margin-right:5px;
  margin-bottom:4px;
  border:1px solid #DDD;
}

a.uwz-image-fi{
  display:block;
  float:left;
  background-image:url(http://vaaratasot.saa-varoitukset.fi/images/map/finnland_preview.png);
  background-repeat:no-repeat;
  background-position:-1px -1px;
  width:178px;
  height:180px;
  margin-right:5px;
  margin-bottom:4px;
  border:1px solid #DDD;
}

div.tx-contagged-singleimage {
  margin-bottom:1px
}


div.tx-contagged-index{
  background-color:#DDDDDD;
  background-image:url("fileadmin/template/pics/heading-gray-bg.png");
  background-repeat:repeat-x;
  color:#444444;
  font-size:12px;
  font-weight:normal;
  margin-bottom:10px;
  margin-top:0;
  padding:5px 14px;
  }

div.tx-contagged-index a{
  text-decoration:none;
  color:black;
  padding:0px 2px;
  }

div.tx-contagged-index a:hover{
  text-decoration:none;
  background-color:white;
  color:black;
  padding:0px 2px;
  }

div.tx-contagged-navlink{
  margin-bottom:15px;
  }

div.tx-contagged-navlink a{
  text-decoration:none;
  background-color:#e1ebf4;
  color:#1e588f;
  padding:0px 2px;
  }

div.tx-contagged-navlink a:hover{
  text-decoration:none;
  background-color:#c5d9ec;
  color:#1e588f;
  padding:0px 2px;
  }

div.tx-contagged-list dt{
  font-weight:bold;
  }

dl.tx-contagged-list{
  margin-bottom:15px;
  }

dl.tx-contagged-list a{
  text-decoration:none;
  color:black;
  }

dl.tx-contagged-list dt{
  padding-bottom:2px;
  }

ul li.stations a{
  display:block;
  padding:4px;
  text-decoration:none;
  color:#1e588f;
  margin-right:3px;
  }

li.stations{
  float:left;
  width:185px;
  }

div.tx-mmstations-pi1 h3{
  background-color:#DDDDDD;
  background-image:url("fileadmin/template/pics/heading-gray-bg.png");
  background-repeat:repeat-x;
  color:#444444;
  font-size:12px;
  font-weight:normal;
  margin-bottom:10px;
  margin-top:0;
  padding:5px 6px;
  }

ul li.lexikon a{
  display:block;
  padding:4px;
  text-decoration:none;
  color:#1e588f;
  margin-right:3px;
  }

li.lexikon{
  float:left;
  width:185px;
  }

ul.tx-contagged-list{
  margin-bottom:15px;
  }

div#news{
  background-color:#F8EED6;
  background-image:url("fileadmin/template/pics/boxes-bg.png");
  background-repeat:repeat-y;
  padding:10px;
  margin-top:10px;
  margin-bottom:10px;
  color:#666666;
  font-size:22px;
  text-align:center;
  line-height:1.32;
  }

div#news a{
  font-weight:bold;
  color:#666666;
  text-decoration:none;
  }


p a.img{
  text-decoration:white;
  background-color:white;
  color:none;
  padding:0px 0px;
  }


#sbb{
  background-color:#feca4d;
  position:absolute;
  top:11px;
  left:310px;
}



a.uwz-image-nl{
  display:block;  
  float:left;  
  background-image:url(http://alarm.noodweercentrale.nl/images/map/nederland_preview.png);  
  background-repeat:no-repeat;  
  background-position:-1px -1px;  
  width:178px;  
  height:180px;  
  margin-right:5px;  
  margin-bottom:4px;
  border:1px solid #DDD;  
}


a.uwz-image-li {
        display:block;
        float:left;
        background-image:url(http://alarm.meteocentrale.li/images/map/liechtenstein_preview.png);
        background-repeat:no-repeat;
        background-position:-1px -1px;
        width:178px;
        height:180px;
        margin-right:5px;
        margin-bottom:4px;
        border:1px solid #DDD;
}

a.uwz-image-at{
        display:block;
        float:left;
        background-image:url(http://unwetter.wetteralarm.at/images/map/oesterreich_preview.png);
        background-repeat:no-repeat;
        background-position:-1px -1px;
        width:178px;
        height:180px;
        margin-right:5px;
        margin-bottom:4px;
        border:1px solid #DDD;
}


a.uwz-image-se {
        display:block;
        float:left;
        background-image:url(http://varningar.vader-alarm.se/images/map/sverige_preview.png);
        background-repeat:no-repeat;
        background-position:-1px -1px;
        width:178px;
        height:180px;
        margin-right:5px;
        margin-bottom:4px;
        border:1px solid #DDD;
}
  
div.uwz-nl-region-image-1{
  float:left;  
  background-image:url(http://alarm.noodweercentrale.nl/images/map/nederland_preview.png);  
  background-repeat:no-repeat;  
  background-position:-19px -187px;  
  width:60px;  
  height:60px;  
  margin-right:5px;  
  margin-top:4px;  
  margin-bottom:4px;    
}


  
div.uwz-nl-region-image-2{
  float:left;  
  background-image:url(http://alarm.noodweercentrale.nl/images/map/nederland_preview.png);  
  background-repeat:no-repeat;  
  background-position:-97px -187px;  
  width:60px;  
  height:60px;  
  margin-right:5px;  
  margin-top:4px;  
  margin-bottom:4px;  
}


div.uwz-dk-region-image-1{
        float:left;
        background-image:url(http://alarm.vejrcentral.dk/images/map/denmark_preview.png);
        background-repeat:no-repeat;
        background-position:0px -187px;
        width:60px;
        height:60px;
        margin-right:5px;
        margin-top:4px;
        margin-bottom:4px;
}


div.uwz-dk-region-image-2{
        float:left;
        background-image:url(http://alarm.vejrcentral.dk/images/map/denmark_preview.png);
        background-repeat:no-repeat;
        background-position:-60px -187px;
        width:60px;
        height:60px;
        margin-right:5px;
        margin-top:4px;
        margin-bottom:4px;
}


div.uwz-dk-region-image-3{
        float:left;
        background-image:url(http://alarm.vejrcentral.dk/images/map/denmark_preview.png);
        background-repeat:no-repeat;
        background-position:-120px -187px;
        width:60px;
        height:60px;
        margin-right:5px;
        margin-top:4px;
        margin-bottom:4px;
}

/* Mailservice */
.checkbox {
    margin-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 10px;
}

.checkbox_yellow{
    background-color: #FFFF00;
    margin-left: 150px;
}

.checkbox_orange{
    background-color: #FFB400;
    margin-left: 10px;
}

.checkbox_red{
    background-color: #FF0000;
    margin-left: 10px;
}
.checkbox_violet{
    background-color: #FF00FF;
    margin-left: 10px;
}

.plus {
  margin-right:4px;
  cursor:pointer;
  background-color: #FECA4D;
  padding:10px;
  border:1px solid #DCBD71;
  padding-left:54px;
  padding-right:54px;
}

.contenttable {
  width:100%;
}

.contenttable td{
  border-bottom: 1px solid #eeeeee;
  padding: 4px 6px;
}

.contenttable th{
  border-bottom: 1px solid #eeeeee;
  padding: 4px 6px;
}


div#noJS {
    background-color: red;
    color: white;
    font-weight: bold;
    margin-top: 15px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
margin-left:210px;
width:540px;

}

a#selectorIcon_48{
border:1px solid red;
}
a#selectorIcon_49{
border:1px solid red;
}
a#selectorIcon_50{
border:1px solid red;
}
a#selectorIcon_51{
border:1px solid red;
}
a#selectorIcon_52{
border:1px solid red;
}
a#selectorIcon_53{
border:1px solid red;
}

/* Blog */
h4.entry-title a {
  text-decoration:none;
  color:#444444;
}

div.entry-utility{
margin-bottom:20px;
}

div.entry-meta {
margin-bottom:20px;
}

#smartbanner { position:absolute; left:0; top:-82px; border-bottom:1px solid #e8e8e8; width:100%; height:78px; font-family:'Helvetica Neue',sans-serif; background:-webkit-linear-gradient(top, #f4f4f4 0%,#cdcdcd 100%); background-image: -ms-linear-gradient(top, #F4F4F4 0%, #CDCDCD 100%); background-image: -moz-linear-gradient(top, #F4F4F4 0%, #CDCDCD 100%); box-shadow:0 1px 2px rgba(0,0,0,0.5); z-index:9998; -webkit-font-smoothing:antialiased; overflow:hidden; -webkit-text-size-adjust:none; }
#smartbanner .sb-container { margin: 0 auto; }
#smartbanner .sb-close { position:absolute; left:5px; top:5px; display:block; border:2px solid #fff; width:14px; height:14px; font-family:'ArialRoundedMTBold',Arial; font-size:15px; line-height:15px; text-align:center; color:#fff; background:#070707; text-decoration:none; text-shadow:none; border-radius:14px; box-shadow:0 2px 3px rgba(0,0,0,0.4); -webkit-font-smoothing:subpixel-antialiased; }
#smartbanner .sb-close:active { font-size:13px; color:#aaa; }
#smartbanner .sb-icon { position:absolute; left:30px; top:10px; display:block; width:57px; height:57px; background:rgba(0,0,0,0.6); background-size:cover; border-radius:10px; box-shadow:0 1px 3px rgba(0,0,0,0.3); }
#smartbanner.no-icon .sb-icon { display:none; }
#smartbanner .sb-info { position:absolute; left:98px; top:18px; width:44%; font-size:11px; line-height:1.2em; font-weight:bold; color:#6a6a6a; text-shadow:0 1px 0 rgba(255,255,255,0.8); }
#smartbanner #smartbanner.no-icon .sb-info { left:34px; }
#smartbanner .sb-info strong { display:block; font-size:13px; color:#4d4d4d; line-height: 18px; }
#smartbanner .sb-info > span { display:block; }
#smartbanner .sb-info em { font-style:normal; text-transform:uppercase; }
#smartbanner .sb-button { position:absolute; right:20px; top:24px; border:1px solid #bfbfbf; padding: 0 10px; min-width: 10%; height:24px; font-size:14px; line-height:24px; text-align:center; font-weight:bold; color:#6a6a6a; background:-webkit-linear-gradient(top, #efefef 0%,#dcdcdc 100%); text-transform:uppercase; text-decoration:none; text-shadow:0 1px 0 rgba(255,255,255,0.8); border-radius:3px; box-shadow:0 1px 0 rgba(255,255,255,0.6),0 1px 0 rgba(255,255,255,0.7) inset; }
#smartbanner .sb-button:active, #smartbanner .sb-button:hover { background:-webkit-linear-gradient(top, #dcdcdc 0%,#efefef 100%); }

#smartbanner .sb-icon.gloss:after { content:''; position:absolute; left:0; top:-1px; border-top:1px solid rgba(255,255,255,0.8); width:100%; height:50%; background:-webkit-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.2) 100%); border-radius:10px 10px 12px 12px; }

#smartbanner.android { border-color:#212228; background: #3d3d3d url('dark_background_stripes.gif'); border-top: 5px solid #88B131; box-shadow: none; }
#smartbanner.android .sb-close { border:0; width:17px; height:17px; line-height:17px; color:#b1b1b3; background:#1c1e21; text-shadow:0 1px 1px #000; box-shadow:0 1px 2px rgba(0,0,0,0.8) inset,0 1px 1px rgba(255,255,255,0.3); }
#smartbanner.android .sb-close:active { color:#eee; }
#smartbanner.android .sb-info { color:#ccc; text-shadow:0 1px 2px #000; }
#smartbanner.android .sb-info strong { color:#fff; }
#smartbanner.android .sb-button { min-width: 12%; border:1px solid #DDDCDC; padding:1px; color:#d1d1d1; background: none; border-radius: 0; box-shadow: none; }
#smartbanner.android .sb-button span { text-align: center; display: block; padding: 0 10px; background-color: #42B6C9; background-image: -webkit-gradient(linear,0 0,0 100%,from(#42B6C9),to(#39A9BB)); background-image: -moz-linear-gradient(top,#42B6C9,#39A9BB); text-transform:none; text-shadow:none; box-shadow:none; }
#smartbanner.android .sb-button:active, #smartbanner.android .sb-button:hover { background: none; }
#smartbanner.android .sb-button:active span, #smartbanner.android .sb-button:hover span { background:#2AC7E1; }

#smartbanner.windows .sb-icon { border-radius: 0px; }
